body {
    background-color: #3C3C3C;
}

h1 {
    text-align: center;
    margin: auto;
    color: #DADFF7;
    font-family: 'Slabo 27px', serif;
    font-size: 50px;
}

#search {
    text-align: center;
    margin: auto;    
}

#query {
    margin: auto;
    width: 80%;
    height: 40px;
    font-size: 25px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .2);
    border: 0;
        
    margin-top: 20px;
    font-family: 'Slabo 27px', serif;
}

#query:focus {
    outline: 0px;
}

input {
    padding-left: 10px;
}

#btnSubmit {
    padding: 0;
    outline: 0;
    margin: auto;
    display: block;
    margin-top: 25px;
    width: 130px;
    height: 40px;
    
    font-size: 30px;
    border: none;
    text-decoration: none;
    color: white;
    
    background-color: #DF2935;
    
    box-shadow: 0 6px #B7222C;
    font-size: 30px;
    font-family: 'Slabo 27px', serif;
}

#btnSubmit:hover {
    box-shadow: 0 4px #B7222C;
    transform: translateY(2px);
    transition: box-shadow .2s linear;
    transition: transition .2s linear;

}

#btnSubmit:active {
    box-shadow: 0 0px #B7222C;
    transform: translateY(4px);
    transition: box-shadow .2s linear;
    transition: transition .2s linear;
    
}